:root {
	--primary: theme('colors.primary.DEFAULT');
	--primary-dark: theme('colors.primary.dark');
	--primary-darker: theme('colors.primary.darker');
	--primary-light: theme('colors.primary.light');
	--secondary: theme('colors.secondary.DEFAULT');
	--secondary-dark: theme('colors.secondary.dark');
	--secondary-darker: theme('colors.secondary.darker');
	--secondary-light: theme('colors.secondary.light');
	--gray: theme('colors.gray.DEFAULT');
	--light-gray: theme('colors.gray.light');
	--dark: theme('colors.dark');
	--white: theme('colors.white');
}
