@import 'colors.scss';

[data-icon] {
	&:hover,
	&:focus {
		path.svg-light {
			fill: var(--primary-darker);
		}
		path.svg-color {
			fill: var(--primary-light);
		}
		path.svg-darker,
		path.svg-main-path {
			fill: var(--primary);
		}
		path.svg-outline {
			fill: var(--primary-light);
		}
	}
}
