---
import type { HTMLAttributes } from 'astro/types';
import Button from './Button.astro';

interface Props extends HTMLAttributes<'a'> {
	href: string;
	title: string;
	classes?: string;
	image: string;
	imageAlt: string;
	imgPosition: 'left' | 'right';
	description?: string;
}

const { href, title, classes, image, imageAlt, imgPosition, description, ...rest } = Astro.props;
---

<div class="grid grid-cols-6 gap-4 justify-between">
	<div class="flex content-center place-items-center justify-center col-span-4">
		<img src={image} alt={imageAlt ? imageAlt : ''} class="w-full h-full" />
	</div>
	<div class="flex flex-col justify-center col-span-2">
		<div class="col-span-2">
			<h3 class="h2 special-heading">{title}</h3>
			<p class="text-primary-darker">{description}</p>
		</div>
		<div class="col-span-1 mt-5">
			<Button href={href} title="Visit Website →" theme="primary-dark" size="md" />
		</div>
	</div>
</div>
