---
import Button from '@/components/Button.astro';

const NavItems = [
	{
		href: '/projects',
		label: 'Projects',
	},
	{
		href: '/skills',
		label: 'Skills',
	},
	{
		href: '/about-me',
		label: 'About Me',
	},
	{
		href: '/work-history',
		label: 'Work History',
	},
];
---

<header class="w-full bg-primary-light shadow-md dark:bg-dark dark:shadow-none">
	<div class="container-fluid md:container mx-auto flex h-16 items-center justify-between px-4 md:px-0">
		<a class="flex items-center gap-2 text-md font-semibold" href="/">
			<img src="logos/green-highlight-horizontal.svg" alt="Tailored Web" class="h-16 w-auto" />
		</a>
		<nav class="hidden items-center gap-4 text-lg font-medium md:flex">
			{
				NavItems.map((item) => (
					<a
						class="relative after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:bg-gradient-to-r after:from-primary after:to-primary-darker after:opacity-0 after:transition-opacity hover:after:opacity-100 focus:after:opacity-100"
						href={item.href}>
						{item.label}
					</a>
				))
			}
			<Button title="Contact Me" theme="primary-dark" size="lg" />
		</nav>
		<button
			class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 w-10 md:hidden"
			type="button"
			aria-haspopup="dialog"
			aria-expanded="false"
			aria-controls="radix-:r9:"
			data-state="closed">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="h-6 w-6">
				<line x1="4" x2="20" y1="12" y2="12"></line>
				<line x1="4" x2="20" y1="6" y2="6"></line>
				<line x1="4" x2="20" y1="18" y2="18"></line>
			</svg>
			<span class="sr-only">Toggle navigation menu</span>
		</button>
	</div>
</header>
