---
import MainLayout from '@/layouts/MainLayout.astro';
import Hero from '@/components/Hero.astro';
---

<MainLayout title="Tailored Web">
	<Hero />
	<div class="bg-primary-gradient min-h-10"></div>
</MainLayout>
