---
import Head from '@/layouts/Head.astro';
import Navigation from '@/layouts/Navigation.astro';
---

<html lang="en">
	<Head title="Tailored Web" />
	<body>
		<Navigation />
		<h1 class="text-primary-dark text-3xl">Astro</h1>
	</body>
</html>
