---
import MainLayout from '@/layouts/MainLayout.astro';
import Hero from '@/components/Hero.astro';
import Project from '@/components/Project.astro';
import Footer from '@/components/Footer.astro';
---

<MainLayout title="Tailored Web">
	<Hero />
	<section class="bg-white">
		<div class="container py-8">
			<div class="text-center">
				<h2 class="text-primary-dark text-3xl">Latest Projects</h2>
				<p>
					I developed responsive and user-friendly custom WordPress themes using PHP, ACF Pro, Bootstrap, and
					JavaScript, implementing designs from Nelnet's designer in Adobe XD. These themes prioritize
					accessibility, ensuring they provide an inclusive and seamless user experience across various
					devices and platforms while meeting specific client requirements.
				</p>
			</div>
			<Project
				href="https://factsmgt.com/"
				title="FactsMGT"
				image="placeholder"
				position="left"
				theme="secondary-dark"
				description="Redesigned the FactsMGT website using a custom built Page Builder developed with PHP, ACF Pro, and Javascript."
			/>
			<Project
				href="https://campusguard.com/"
				title="CampusGuard"
				image="/projects/campusguard-featuredtabs.png"
				position="right"
				theme="secondary-darker"
				description="Created a Featured Tab component allowing clients to effortlessly display customizable tabs across multiple website pages, enhancing user experience with structured content presentation and efficient organization."
			/>
			<Project
				href="https://brightstart.com/"
				title="BrightStart"
				image="/projects/brightstart-tables.png"
				position="left"
				theme="primary-dark"
				description="Developed a plugin enabling seamless .csv file uploads to update BrightStart's performance tables daily, monthly, and yearly, automating data entry for up-to-date metrics and enhancing operational efficiency."
			/>
			<Project
				href="https://nelnetenergy.com/"
				title="Nelnet Renewable Energy"
				image="/projects/nelnetenergy-map.png"
				position="right"
				theme="primary-darker"
				description="Engineered an SVG map that dynamically updates based on a State Custom Post Type, adjusting fill colors and adding corresponding buttons site-wide for enhanced user interaction and accessible state-related information. "
			/>
		</div>
	</section>
</MainLayout>
